html {
  font-family: Arial, Helvetica, sans-serif;
  display: inline-block;
  text-align: center;
}

h1 {
  font-size: 1.8rem;
  color: #070812;

}

p {
  font-size: 1.4rem;
}

body {
  margin: 0;
}

.content {
  padding: 5%;
}

.card-grid {
  max-width: 800px;
  margin: 0 auto;
  display: vertical;
  grid-gap: 2rem;
}

.card {
  background-color: white;
  padding: 8px 0 4px;
  margin: 32px 0;
  box-shadow: 2px 2px 12px 1px rgba(140,140,140,.5);
}


input[type=submit], input[type=button] {
  border: none;
  color: #FEFCFB;
  background-color: #fa0505;
  padding: 15px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  width: 100px;
  margin-right: 10px;
  border-radius: 4px;
  transition-duration: 0.4s;
}


input[type=text], [type=password], input[type=number], select {
  width: 50%;
  padding: 12px 20px;
  margin: 18px;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[id=fprint] {
  width: 65%;
  text-align: center;
}

label {
  font-size: 1.2rem;
}
.value {
  font-size: 1.2rem;
  color: #1282A2;
}

.container {
  padding-top: 10px;
  max-width: 500px;
  margin: auto;
  display: flex;
  flex-direction: column;
}
code {
  border-radius: 3px;
  background-color: gainsboro;
  padding: 4px;
  font-size: 0.9em;
}
#message {
  padding-top: 20px;
  font-size: 20px;
}